.header {
  text-align: center;
  color: #fff;
  height: 64px;
  padding-inline: 50px;
  line-height: 64px;
  background-color: #7dbcea;

  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 15px 0;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .navbarRight {
    float: right;
  }
}
