.header {
  width: 100%;
  text-align: center;
  color: #fff;
  height: 64px;
  //padding-inline: 50px;
  line-height: 64px;
  background-color: #7dbcea;
  display: flex;
  justify-content: space-between;

  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 15px 0;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .headerRight {
    float: right;
    display: flex;
    background-color: #003b95;
    justify-content: right;



    div {
      padding: 0px 1rem 0px 1rem;
      color: #fff;
    }
  }
}

.headerFont {
  color: #fff;
}