// Modal.scss
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 검은색 투명도 50% */

  display: flex;

  align-items: center;
  //justify-content: center;

  flex-direction: column;
  justify-content: space-between;

  z-index: 101; /* 항상 최상위에 띄우기 */
}

.modal-content {
  width: 50%; // 가로를 50%로 조정
  height: 90%; // 세로를 100%로 조정
  background-color: #fff;
  border: 2px solid #ffcc00; /* 노란 테두리 */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; // padding을 포함한 크기 계산
}

.modal-input {
  height: 85%;
}

.close-button {
  background-color: #ffcc00; /* 노란색 */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 버튼과 상단 간격 조절 */
}

.save-button,
.cancel-button {
  /* 공통 버튼 스타일 */
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.save-button {
  /* 저장 버튼 스타일 */
  background-color: #4caf50;
  color: white;
}

.cancel-button {
  /* 취소 버튼 스타일 */
  background-color: #f44336;
  color: white;
}

.save-button:hover,
.cancel-button:hover {
  /* 버튼 호버 스타일 */
  background-color: #45a049; /* 저장 버튼의 경우 더 진한 녹색 */
}

.cancel-button:hover {
  /* 취소 버튼의 경우 더 진한 빨간색 */
  background-color: #d32f2f;
}
