.rightSideContent {
  border: 2px solid red;
  display: block;
  //justify-content: left;
  //align-items: center;
  width: 100%;
  height: 100%;

  .contentList {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: auto;

    .searchContent {
      //float: right;
      box-sizing: border-box;
      border: 1px solid black;

      padding: 20px;
      margin: 5px 0px;
      box-shadow: 0 0 5px gray;

      .sort {
        display: flex;
      }
    }
  }

  .listSelectBox {
    text-align: center;

    div {
      float: left;
      width: 33.333%;
      border: 2px solid black;
      border-radius: 20% 20% 0% 0%;
      cursor: pointer;
    }

    .toggle {
      color: black;
    }

    .toggleActive {
      background-color: #003b95;
      color: white;
    }

  }

}